@use '../util/' as util;

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, 
*::before, *
::after {
    box-sizing: inherit;
}

body {
    margin: 0; //called resets
    padding: 0; font-family: util.$font;// resets or reset rules
    font-style: util.$font;
    background-color: var(--background-color);
    color: var(--text-color);
}